
body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 10vw;
  box-shadow: 2px 2px gray;
  min-height: 97vh;
  color:rgb(0, 0, 172);
}

h1,h2,h3,h4{
  color: black;
}

.hoc{
  background-color: rgb(255, 84, 84);
}
.pure{
  background-color: chartreuse;
}